<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h1>Inventory Tracking System </h1>
    <h2> Item List </h2>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Brand</th>
            <th>Model</th>
            <th>CheckInDate</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.type}"></td>
            <td th:text="${item.brand}"></td>
            <td th:text="${item.model}"></td>
            <td th:text="${item.checkInDate}"></td>
            <td>
            <script type="text/javascript">
                function updateItem(){
                    var id=document.getElementById('id').value;
                    location.href='/api/item/update?id='+id;
                }
                function deleteItem(){
                    var id=document.getElementById('id').value;
                    var comment=document.getElementById('comment').value;
                    location.href='/api/item/delete?id='+id+'&deletionComment='+comment;
                }
            </script>
                <input type="button" value= "Update" onclick="updateItem()"/>
                <input type="button" value= "Delete" onclick="deleteItem()"/>
                <input type="hidden" id="id" th:value = "${item.id}"/>
                <input type="text" id="comment" placeholder="Deletion Comment"/>
            </td>
        </tr>
        </tbody>
    </table>
    <input type="button" value= "Back" onclick="location.href='/'"/>
</div>
</body>
</html>