<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h1>Inventory Tracking System </h1>
    <h2> Item List </h2>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Brand</th>
            <th>Model</th>
            <th>CheckInDate</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.type}"></td>
            <td th:text="${item.brand}"></td>
            <td th:text="${item.model}"></td>
            <td th:text="${item.checkInDate}"></td>
            <td th:text="${item.status}"></td>
            <td>
                <a th:href="@{/api/item/update(id=${item.id})}">Update</a>
                <a th:href="@{/api/item/delete(id=${item.id},deletionComment=${item.id})}">Delete</a>

<!--                <button type="submit" value="${comment}">Save</button>-->
<!--            <script type="text/javascript">-->
<!--                function deleteItem(){-->
<!--                    var page=document.getElementById('in').value; // value of input box-->
<!--                    location.href='api/item/'+page; // redirect to new url-->
<!--                }-->
<!--            </script>-->
<!--                <input type="button" value= "Delete" onclick="deleteItem()"/>-->
<!--                <input type="text" id="in" placeholder="Deletion Comment"/>-->
            </td>
        </tr>
        </tbody>
    </table>
    <input type="button" value= "Back" onclick="location.href='/'"/>
</div>
</body>
</html>