<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventory Tracking System </title>
</head>
<body>
<div align="center">
    <h1>Inventory Tracking System </h1>
    <script type="text/javascript">
    function getItems(){
        var num=document.getElementById('in').value;
        location.href='api/item/'+num;
    }
    </script>
    <input type="text" id="in" placeholder="Enter 1 or 1,2,... "/>
    <br>
    <input type="button" value= "Get Items" onclick="getItems()"/>
    <br>
    <br>
    <input type="button" value= "Add Item" onclick="location.href='/api/item/add'"/>
    <br>
    <br>
    <input type="button" value= "Recycle Bin" onclick="location.href='/api/item/deleted'"/>
</div>
</body>
</html>